body {
  background-color: #803a65;
}
.object {
  padding-left: 20px;
  margin: 10px 0;
  height: auto;
  overflow-y: hidden;
}
.object.root {
  padding-left: 0;
}
.object_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #b3b3b3;
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
  padding: 0 15px;
  border-radius: 10px;
}
.object_name {
  flex-grow: 1;
}
.object_info,
.object_open {
  width: 30px;
  font-weight: 900;
  font-size: 24px;
  color: white;
  line-height: 50px;
}
.object_info {
  font-family: 'Times New Roman', sans-serif;
}
.object.closed {
  height: 50px;
}
.description {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -145px;
  height: 290px;
  width: 500px;
  background-color: white;
  padding: 70px 30px;
  border-radius: 0 30px 30px 0;
  box-shadow: 0 2px 10px -5px black;
  transition: all 0.5s ease-in-out;
}
.description_close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  transform: scale(1, 0.8);
  padding: 0 5px;
}
.description.closed {
  left: -550px;
}
